<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="isAuthenticated"><a routerLinkActive="active" routerLink="/recipes" class="nav-link"  >Recipe</a></li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a routerLinkActive="active" routerLink="/auth" class="nav-link" >Authentication</a></li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/shopping-list" class="nav-link" >Shopping List</a></li>

            </ul>
            <ul class="nav navbar-nav" *ngIf="isAuthenticated">
                <li>
                    <a class="nav-link" style="cursor: pointer;" (click)="onLogout()" >Logout</a>
                </li>
                <li class="nav-item dropdown" *ngIf="isAuthenticated">
                    <a 
                    class="nav-link dropdown-toggle" 
                    style="cursor: pointer;"
                    role="button" 
                    data-bs-toggle="dropdown" 
                    id="dropdownMenuButton"
                    aria-haspopup="true"
                    aria-expanded="true"
                    appDropdown
                    #r="appDropDown">
                        Manage
                      </a>
                    <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}" aria-labelledby="dropdownMenuButton" data-bs-popper="static">
                        <li><a style="cursor: pointer;" class="dropdown-item"(click)="onSaveData()" >Saving Data</a></li>
                        <li><a style="cursor: pointer;" class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
